<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h3 class="h3 text-gray-800"><strong>{{test_plan.product.name}} / {{test_plan.platform.name}}</strong></h3>
    <h4>Let's do this!</h4>
</div>
<a [routerLink]="['/edit', 'test_plan', test_plan.id]" class="btn btn-primary shadow-sm mb-4"><i
    class="fas fa-cog fa-sm text-white-50"></i>
    &nbsp;Edit Test Plan
</a>

<div class="ml-3">
    <div class="row">
        <div class="col-3-lg col-4-md col-5-sm col-6-xs mr-2 mb-2">
            <select class="form-control" (change)="onTestSuiteChange($event.target.value)">
                <option disabled selected value="">Select a Test Suite</option>
                <option *ngFor="let test_suite of test_suites" [value]="test_suite.id">{{test_suite.name}}</option>
            </select>
        </div>
        <div class="col-3-lg col-4-md col-5-sm col-6-xs">
            <select *ngIf="test_cases.length > 1" class="form-control" (change)="onTestCaseChange($event.target.value)">
                <option disabled selected value="">Select a Test Case</option>
                <option *ngFor="let test_case of test_cases" [value]="test_case.id">{{test_case.name}}</option>
            </select>
        </div>
    </div>

    <p>Test Case Id: {{test_case_id}}</p>
</div>