<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/']">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-thumbs-up"></i>
        </div>
        <div class="sidebar-brand-text mx-3">EveryTest</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/dashboard']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#addTestPlanModal">
            <i class="fas fa-fw fa-plus-circle"></i>
            <span>New Test Plan</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Test Plans
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" *ngFor="let plan of testPlanService.formatted_test_plans">
        
        <a *ngIf="plan.test_plans.length == 1" class="nav-link" [routerLink]="['/testplans', plan.test_plans[0].test_plan_id]">
            <i class="{{testPlanService.getPlatformIcon(plan.test_plans[0].platform_name)}}"></i>
            <span>{{plan.product_name}} / {{plan.test_plans[0].platform_name}}</span>
        </a>

        <a *ngIf="plan.test_plans.length > 1" class="nav-link collapsed" href="#" data-toggle="collapse" [attr.data-target]="'#collapse_' + plan.product_id"
            aria-expanded="true">
            <i class="fas fa-fw fa-cog"></i>
            <span>{{plan.product_name}}</span>
        </a>
        <div id="collapse_{{plan.product_id}}" class="collapse" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a *ngFor="let platform of plan.test_plans" class="collapse-item" [routerLink]="['/testplans', platform.test_plan_id]">
                    <i class="{{testPlanService.getPlatformIcon(platform.platform_name)}}"></i>
                    {{platform.platform_name}}
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSidebar()"></button>
    </div>

</ul>

<div class="modal fade" id="addTestPlanModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Test Plan</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-test-plan-form" [formGroup]="addTestPlanForm" (ngSubmit)="onSubmit()"> 
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label for="product">Select A Product</label>
                                <select class="form-control" id="product" formControlName="product">
                                    <option *ngFor="let product of testPlanService.products" [value]="product.id">{{product.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="platform">Select A Platform</label>
                                <select class="form-control" id="platform" formControlName="platform">
                                    <option *ngFor="let platform of testPlanService.platforms" [value]="platform.id">{{platform.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit" form="add-test-plan-form">Save</button>
            </div>
        </div>
    </div>
</div>