<body *ngIf="public_routes.indexOf(router.url) == -1; else publicRoute" id="page-top">
    <div id="wrapper">
        <sidebar></sidebar>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <topbar></topbar>
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</body>


<ng-template #publicRoute>
    <body class="bg-gradient-primary">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </body>
</ng-template>