<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h3 class="h3 text-gray-800">Edit&nbsp;<strong>{{testPlan.product.name}} / {{testPlan.platform.name}}</strong>&nbsp;Test Case</h3>
    <a href="#" data-toggle="modal" data-target="#editTestCaseModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-cog fa-sm text-white-50"></i>&nbsp;Edit Test Case</a>
</div>

<div class="row justify-content-center">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <div class="card o-hidden border-0 shadow-lg">

            <!-- Error Toast-->
            <div style="position: relative; z-index: 10;">
                <div id="error-toast" class="toast mt-2 mr-2" style="position: absolute; right: 0;">
                <div class="toast-header">
                    <strong class="mr-auto text-danger">Error</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    All fields must have a value.
                </div>
                </div>
            </div>

            <div class="card-header d-sm-flex align-items-center justify-content-between py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{testCase.name}}</h6>
                <p class="m-0 text-{{testCase.mets_id | metsColor}}">{{testCase.mets_id | metsName}}</p>
            </div>
            <div class="card-body p-5">
                <div class="table-responsive">
                    <form id="update-test-steps-form" [formGroup]="testStepsForm" (ngSubmit)="onUpdateTestSteps()">
                        <div formArrayName="testStepsFormArray" style="overflow-x:auto;">
                            <table class="table table-striped" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-center">Step</th>
                                        <th>Action</th>
                                        <th class="text-center">Notes?</th>
                                        <th class="text-center">Options</th>

                                    </tr>
                                </thead>
                                <tbody  cdkDropList (cdkDropListDropped)="drop($event)">
                                    <tr *ngFor="let control of getControls(); let i=index" [formGroupName]="i" cdkDrag cdkDragLockAxis="y">
                                        <td class="align-middle" style="width: 5%;" cdkDragHandle class="pointer-handle">
                                            <i class="fas fa-bars mt-2 ml-2"></i>
                                        </td>
                                        <td class="align-middle" style="width: 5%;">
                                            <div class="ml-3">{{control.value.order}}</div>
                                        </td>
                                        <td style="width: 80%;">
                                            <input *ngIf="!control.get('is_workflow_step').value"
                                                class="form-control form-control-sm" formControlName="action" 
                                                (ngModelChange)="markAsDirty($event)" placeholder="New Test Step"
                                            >
                                            <div>
                                                <select *ngIf="control.get('is_workflow_step').value" class="form-control form-control-sm" formControlName="workflow">
                                                    <option *ngFor="let workflow of workflows" [value]="workflow.id">{{workflow.name}}</option>
                                                </select>
                                            </div>
                                            
                                        </td>
                                        <td style="width: 5%;">
                                            <i *ngIf="notesPresent(control)" class="fas fa-check mt-2 ml-3"></i>
                                            <!-- data-toggle="tooltip" data-placement="top" [title]="control.get('notes').value" -->
                                        </td>
                                        <td class="align-middle" style="width: 5%">
                                            <div class="btn-group ml-2">
                                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                </button>
                                                <div class="dropdown-menu">
                                                    <button *ngIf="!control.get('is_workflow_step').value" type="button" (click)="changeStep(control)" class="dropdown-item">Convert to Workflow</button>
                                                    <button *ngIf="control.get('is_workflow_step').value" type="button" (click)="changeStep(control)" class="dropdown-item">Convert to Test Step</button>
                                                    <button type="button" class="dropdown-item" (click)="openNotesModal(i)" data-toggle="modal" data-target="#editNotesModal">Notes</button>
                                                    <button type="button" class="dropdown-item" (click)="removeStep(i)">Remove</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <a [routerLink]="['/edit', 'test_suite', testSuite.id]" class="d-none d-sm-inline-block btn btn-outline-primary float-left">
                            <i class="fas fa-chevron-left fa-sm"></i>&nbsp;Back to Test Suite
                        </a>
                        <button class="d-none d-sm-inline-block btn btn-outline-primary float-right" (click)="addTestStep()">
                            <i class="fas fa-plus"></i>
                            Add Step
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" [disabled]="!testStepsForm.dirty" 
                        form="update-test-steps-form" class="d-none d-sm-inline-block btn btn-primary float-right">
                            {{submitButtonText}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Notes Modal-->
<div class="modal fade" id="editNotesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Notes</h5>
                <button class="close" type="button" (click)="onCancel()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Action:</strong> {{action}}</p>
                <div class="form-group">
                    <textarea type="text" class="form-control" [(ngModel)]="notes"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" (click)="onCancel()">Cancel</button>
                <button class="btn btn-primary" type="submit" (click)="saveNotes()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Test Case-->
<div class="modal fade" id="editTestCaseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Test Case: {{testCase.name}}</h5>
                <button (click)="deleteClicked = false" class="close" type="button" (click)="onCancel()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-form" [formGroup]="editTestCaseForm" (ngSubmit)="onEditTestCaseSubmit()">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label>Test Case Name</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="platform">Select A METS Level</label>
                                <select class="form-control" formControlName="mets">
                                    <option value="1">Critical</option>
                                    <option value="2">High</option>
                                    <option value="3">Medium</option>
                                    <option value="4">Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="onCancel()" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit" form="edit-form">Edit</button>
                <button *ngIf="!deleteClicked" (click)="deleteClicked = true" class="btn btn-danger" type="button">Delete</button>
                <button *ngIf="deleteClicked" (click)="onDeleteTestCaseSubmit()" class="btn btn-danger" type="button">Are You Sure?</button>
            </div>
        </div>
    </div>
</div>